/* All style should go in this document. */
/*Look at box-shadow element for shadows*/

body, body * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: block;
    font-family: Verdana;
}

.contentBox {
    padding-top: ;
    width: 100%;
}

.contentInner {
    padding: 35px;
    padding-bottom: 35px;
}

#navbar {
    height: 40px;
    width: 100%;
    background-color: #380038;
    position: fixed;
    text-align: center;
}

#home {
    padding-top: 40px;
    background-color: #DCD234;
    text-align: center;
}

#about {
    background-color: #30B333;
    text-align: left;
}

#resume {
    background-color: #313AEE;
    text-align: left;
}

#contact {
    background-color: #00450B;
    text-align: center;
}