/*  adam-personal-website/css/style.css
 *  Stylesheet for personal website
 */

/*****************************************************************************/
/* Text */
body {
    font-family: "Arial Black", sans-serif;
    font-size: large;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', sans-serif;
    /*font-family: Verdana, sans-serif;*/
}

.title-box {
    display: flex;
    justify-content: center;
    align-items: center;
}

.accent-letter {
    font-size: 3.5em;
    display: inline;
}

header p {
    font-size: 1.25em;
}

hr {
  align: center;
  width: 65%;
}

/*****************************************************************************/
/* Spacing */
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: block;
}

section {
    width: 100%;
    display: flex;
    justify-content: center;
}

.section-inner {
    align-self: center;
    padding: 100px;
    text-align: center;
}

header .section-inner {
    padding-top: 80px;
}


.job-list > li {
    margin-top: 15px;
}

.skill-list > li {
    text-align: center;
    display: inline-block;
    width: 5vw;
    margin-left: 2vw;
    margin-right: 2vw;
}


#about > .section-inner {
    padding-left: 20vw;
    padding-right: 20vw;
    padding-top: 60px;
    padding-bottom: 60px;
}

#skills h3 {
    padding-bottom: 20px;
}

#resume .section-inner {
    text-align: left;
}

#contact {
    text-align: center;
}

#contact > .section-inner {
    margin: 15px;
    padding: 15px;
}

.contact-list {
    display: flex;
    justify-content: space-between;
}

.contact-list > li {
    display: inline-block;
    margin-left: 50px;
    margin-right: 50px;
}

.flex-grow-1 {
    flex-grow: 1;
}

.flex-grow-2 {
    flex-grow: 2;
}

/*****************************************************************************/
/* Background Color and Shadows */

/* Main body background*/
body {
    background-color: #FAFAFA;
}

header > .section-inner {
    color: #E1E1E1;
    margin-top: 25px;
    margin-bottom: 25px;
    background-color: #000000;
}

.accent-letter {
    color: #E81414;
}


#resume > .section-inner {
    width: 55vw;
    min-width: 500px;
}


/* About, Skills, Contact; full-width sections */
.skill-list > li {
    background-color: #E81414;
    border: 2px solid #000000;
}


a:link, a:visited {
    color: #000000;
}

a:hover {
    color: #606060;
}

a:active {
    color: #E81414;
}
