/*  adam-personal-website/css/style.css
 *  Stylesheet for personal website
 */

body/*, body **/ {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: block;
    font-family: Tahoma, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    margin: auto;
    padding: auto;
    box-sizing: content-box;
    font-family: Verdana, sans-serif;
}

ul, li {
    display: list-item;
}

.contentBox {
    border-top: 6px solid #5E0231;
    width: 100%;
}

.contentInner {
    padding: 100px;
}

#navBox {
    border-top: none;
}

#navbar {
    border-top: none;
    height: 60px;
    width: 100%;
    background-color: #5E0231;
    position: fixed;
    text-align: center;
    z-index: 10000;
}

#home {
    padding-top: 54px;
    background-color: #C8C8C8;
    text-align: center;
}

#home h1 {
    font-size: 2.5em;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.3);
}

#home p {
    font-size: 1.25em;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.1);
}

#about {
    background-color: #B0B0B0;
    text-align: left;
}

#skills {
    text-align: left;
    background-color: #C8C8C8;
    box-shadow: inset 0px 9px 3px rgba(0,0,0,0.4);
    text-shadow: 1px 1px 1px rgba(0,0,0,0.1);
}

#resume {
    background-color: #B0B0B0;
    text-align: left;
}

#contact {
    text-align: center;
    background-color: #C8C8C8;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.1);
    box-shadow: inset 0px 9px 3px rgba(0,0,0,0.4);
}

/*Consider goldenrod: #DAA520*/

/*Text opacity*/

.contentInner h1 {
    color: rgba(0, 0, 0, 0.9);
}

.contentInner h2, .contentInner h3, .contentInner h4 {
    color: rgba(0, 0, 0, 0.8);
}

.contentInner p, .contentInner li {
    color: rgba(0, 0, 0, 0.75);
}
